.about {
  background-image: url("../img/about.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 42px;
}

.about__container {
  width: 93%;
  max-width: 1240px;
  margin: 0 auto;
  padding-top: 70px;
}

.about__list {
  list-style: none;
  width: 100%;
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about__item {
  width: 30%;
}

.about__title {
  font-size: 21px;
  line-height: 25px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 26px;
  padding-left: 50px;
  position: relative;

  &::before {
    content: "";
    width: 36px;
    height: 44px;
    background-image: url("../img/user.png");
    background-repeat: no-repeat;
    background-size: 36px 44px;
    position: absolute;
    top: -15px;
    left: 0;
  }
}

.about__text {
  font-size: 17px;
  line-height: 25px;
  font-weight: 300;
  font-style: normal;
  color: #bcbcbc;
  margin: 0;
}
