.footer {
  margin-top: -42px;
}

.footer__container {
  width: 93%;
  max-width: 1240px;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 6px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #1cac4e;
}

.footer__text {
  font-size: 13px;
  line-height: 25px;
  font-weight: 300;
  font-style: normal;
  color: #ffffff;

  & b {
    font-weight: 700;
    text-transform: uppercase;
    color: #1cac4e;
  }
}

.footer__link {
  font-size: 13px;
  line-height: 25px;
  font-weight: 300;
  font-style: normal;
  color: #ffffff;
  text-decoration: none;

  & b {
    font-weight: 300;
    color: #1cac4e;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (max-width: $tablet-width) {
  .footer__container {
    width: 95%;
  }
}
