.header {
  background-color: transparent;
  z-index: 2;
}

.header__container {
  width: 93%;
  max-width: 1240px;
  margin: 0 auto;
  padding-top: 46px;
  padding-right: 1.4%;
  display: flex;
  align-items: center;
}

.header__logo {
  display: block;
  width: 124px;
  height: 113px;
}

@media (max-width: $tablet-width) {
  .header__container {
    width: 95%;
    padding-top: 30px;
  }

  .header__logo {
    width: 110px;
    height: auto;
  }
}

@media (max-width: $mobile-width) {
  .header__container {
    width: 100%;
    padding-top: 10px;
    padding-right: 3%;
    padding-left: 3%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .header__logo {
    width: 70px;
    height: auto;
  }
}
