.intro {
  width: 100%;
  background: radial-gradient(#4cc575, #256250);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: -159px;
  padding-top: 172px;
  position: relative;
}

.intro__container {
  width: 93%;
  max-width: 1240px;
  margin: 0 auto;
}

.intro__list {
  list-style: none;
  display: flex;
  align-items: flex-end;
  width: 977px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.intro__item {
  position: absolute;
  transform: translateX(-50%);

  &:nth-child(1) {
    z-index: 1;
    left: 15.5%;
  }

  &:nth-child(2) {
    z-index: 2;
    left: 33%;
  }

  &:nth-child(3) {
    position: relative;
    z-index: 3;
    left: 50%;
  }

  &:nth-child(4) {
    z-index: 2;
    left: 67%;
  }

  &:nth-child(5) {
    z-index: 1;
    left: 84.5%;
  }
}

.intro__item img {
  display: block;
}


@media (max-width: $tablet-width) {
  .intro {
    margin-top: -130px;
  }

  .intro__container {
    width: 95%;
  }

  .intro__list {
    width: 100%;
  }

  .intro__item img {
    width: 226px;
    height: auto;
  }
}

@media (max-width: $mobile-width) {
  .intro {
    margin-top: 0;
    padding-top: 30px;
  }

  .intro__container {
    width: 100%;
  }

  .intro__list {
    flex-direction: column;
    align-items: center;
  }

  .intro__item {
    position: relative;
    transform: none;
    margin-bottom: 20px;

    &:nth-child(1) {
      left: 0;
    }

    &:nth-child(2) {
      left: 0;
    }

    &:nth-child(3) {
      left: 0;
    }

    &:nth-child(4) {
      left: 0;
    }

    &:nth-child(5) {
      left: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

}
