.intro {
  width: 100%;
  height: 681px;
  background-image: url('../img/intro-back.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: -159px;
  position: relative;
  z-index: -1;
}
