.quote {
  background: radial-gradient(#d7f4e2, #ceddd6);
}

.quote__container {
  width: 93%;
  max-width: 1240px;
  margin: 0 auto;
  padding-top: 42px;
  padding-bottom: 38px;
}

.quote__box {
  width: 90%;
  margin: 0 auto;
}

.quote__text {
  font-size: 34px;
  line-height: 30px;
  font-weight: 300;
  font-style: italic;
  color: #4f4f4f;
  margin: 0;
  margin-bottom: 40px;
  text-align: center;
}

.quote__author {
  font-size: 21px;
  line-height: 20px;
  font-weight: 300;
  font-style: normal;
  color: #4f4f4f;
  display: block;
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

@media (max-width: $tablet-width) {
  .quote__container {
    width: 95%;
    padding-top: 32px;
    padding-bottom: 30px;
  }

  .quote__box {
    width: 100%;
  }

  .quote__text {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .quote__author {
    font-size: 18px;
  }
}

@media (max-width: $mobile-width) {
  .quote__text {
    font-size: 27px;
  }

  .quote__author {
    font-size: 16px;
  }
}
